.revReq {
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  padding: 20px 30px;
  margin-bottom: 15px;
  position: relative;
}

.revReq-title {
  font-size: 1.1rem;
  font-weight: bold;
}

.revReq-title-link {
  color: #ff007f;
  text-decoration: none;
}

.revReq-title-link:hover {
  color: #FACDE5;
}

.revReq-content {
  margin: 20px 0;
}

.revReq-details {
  margin-top: 10px;
  font-size: 0.9rem;
}

.revReq-author-link {
  color: yellow;
}

.revReq-author {
  margin-right: 25px;
}

.user-icon, .date-icon {
  margin-right: 6px;
  font-size: 90%;
}