<div class="revReq">
  <a class="revReq-title-link" [routerLink]="['/revReq', revReq.revReqId]">
    <h4 class="revReq-title">{{workItem.title}}</h4>
  </a>
  <div class="revReq-content" *ngIf="showContent" [froalaView]="workItem.description"></div>
  <div class="revReq-details">
    <span class="revReq-author">
      <a class="revReq-author-link" [routerLink]="['/users', revReq.creator.userId]">
        <span class="user-icon far fa-user"></span>{{revReq.creator}}</a>
    </span>
    <span class="revReq-created" ngbTooltip="{{revReq.createdOn | date:'medium'}}">
        <i class="date-icon far fa-calendar-alt"></i>{{revReq.createdOn | timeAgo}}
    </span>

</div>

</div> 