<app-breadcrumbs-search id="bread-spread" [showSearch]="true"></app-breadcrumbs-search><section id="user-profile">

 <div class="container">

    <div class="row">
      <div class="col-sm-12">
        <div class="profile-fb-container">
          <div class="profile-left">
            <div class="profile-image">
              <img src="../../../assets/user-image.jpg"  class="card-img-top" alt="User Image">
            </div>
          </div>
          <div class="profile-right">
            <div class="profile-name">
              <h3>{{user.fullName}} </h3>
            </div>
            <div class="profile-details">
              <!-- <span class="registered">Registered on - {{user.createdOn | date}}</span> -->
              <!-- <span class="separator">/</span> -->
              <span class="email">Email - {{user.email}}</span>
            </div>


            <div class="profile-more-about">
              <!-- <h5>More About Me:</h5>
                  Say sth .. se, se sth.. -->
            </div>
          </div>
        </div>

        <div class="profile-tabs-container">
          <ngb-tabset [justify]="currentJustify" class="user-tabs">
            
            <ngb-tab title="My Review Requests"> <!-- todo route fix -->
              <ng-template ngbTabContent>
                <div class="no-own-rev-reqs" *ngIf="this.ownRevReqs.length === 0">Not a single Review Request created by moa!</div>
                <section id="revReqs">
                  <div class="container">
                    <div class="row custom-row">
                      <div class="col-md-4" *ngFor="let ownRevReq of this.ownRevReqs">
                        <app-rev-view 
                          [revReq]="ownRevReq"
                        ></app-rev-view>
                      </div>
                    </div>
                  </div>
                </section>
              </ng-template>
            </ngb-tab>

            <ngb-tab title="Pending Reviews"> <!-- todo route fix2-->
              <ng-template ngbTabContent>
                  <div class="no-rev-reqs" *ngIf="this.revReqs.length === 0">Not a single Review Request requested to moa!</div>
                  <section id="revReqs">
                    <div class="container">
                      <div class="row custom-row">
                        <div class="col-md-4" *ngFor="let revReq of this.revReqs">
                          <app-rev-view [revReq]="revReq"></app-rev-view>
                        </div>
                      </div>
                    </div>
                  </section>
                </ng-template>
              </ngb-tab>

            <!-- <ngb-tab title="Comments">
              <ng-template ngbTabContent>
                <div class="no-comments" *ngIf="this.comments.length === 0">This user has not written any comments yet.</div>
                  sth like ... <app-rev-req-comments></app-rev-req-comments>
              </ng-template>
            </ngb-tab> -->

            <ngb-tab title="Teams">
              <ng-template ngbTabContent>
                <div class="no-teams" *ngIf="this.teams.length === 0">There is no "i" in any teams, yet...</div>
                <section id="teams">
                  <div class="container">
                    <div class="row custom-row">
                      <div class="col-md-4" *ngFor="let team of this.teams">
                        <app-teams-view [team]="team"></app-teams-view>
                      <!-- <div><h3 class="info-name">{{team}}</h3> </div>  -->
                      </div>
                    </div>
                  </div>
                </section>
              </ng-template>
            </ngb-tab>

          </ngb-tabset>
        </div>
      </div>
    </div>
  </div>
<!-- </div>
</div> -->
</section>
