.profile-fb-container {
  margin-top: 10px;
  display: flex;
  width: 100%;
  background: #ffffff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  border-radius: 4px;
}

#bread-spread {
  margin-left: 10px auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

.profile-left, .profile-right {
  width: 20%;
  padding: 15px;
}

@media (max-width: 575.98px) {
  .profile-fb-container {
    display: block;
  }

  .profile-left, .profile-right {
    width: 20%;
  }

  .profile-left {
    border-right: none;
    border-bottom: 1px solid #eeeeee;
  }

  .profile-image img {
    width: 20px;
    /* background-color: #ff007f; */
  }
}

.profile-left {
  border-right: 1px solid #eeeeee;
  flex: 1;
  text-align: center;
}

.profile-right {
  flex: 17;
}

.profile-username, .profile-user-role {
  margin-top: 25px;
}

.profile-user-role > span {
  padding: 8px 30px;
  background: #e9e9e9;
  border-radius: 35px;
  color: #7d7d7d;
  font-size: 13px;
}

.profile-details {
  font-size: 13px;
}

.separator {
  margin: 0 15px;
}

.profile-more-about {
  margin-top: 35px;
}


.profile-tabs-container {
  margin-top: 50px;
  background: #ffffff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  border-radius: 4px;
}