@import url('https://fonts.googleapis.com/css?family=Muli:300,400,700');
.home-text {
  margin-top: 50px;
  text-align: center;
}

.vh-container {
  background: #ff007f;
}

.home-buttons-container {
  margin-top: 30px;
}

.home-buttons-container .btn {
  min-width: 120px;
}

@media (max-width: 575.98px) {
  .home-buttons-container .btn {
    width: 100%;
    margin: 10px 0 0 0;
  }
}

.btn-login {
  margin-right: 5px;
}

.btn-register {
  margin-left: 5px;
}







.c-type-headline-jumbo {
  
  max-width: 1000px;
  margin-left: auto;
  margin-top: 50px;
  margin-right: auto;
  text-align: center;
  width: 100%;
  color: #f72268;
  


    font-weight: 700;
    line-height: 1.12;
    letter-spacing: -1.5px;


}
.t-dark-theme {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-size: 1300px 700px;
  background-repeat: repeat;
  background-image:  url('https://media.giphy.com/media/QPcCYN5RgC2Fq/giphy.gif');
  /* background-color: #f72268;  */
  display: flex;
  /* align-items: center; */
  height: 330px;
  color: #ffe0e8;
  line-height: 2.1875;
  padding: auto;
}
.o-content-container {
  
  margin-top: 140px;

  padding: auto;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
  line-height: 2.1875;

}





/* the PRS words */


* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #000;
  height: 200vh;
  font-family: 'Muli', sans-serif;
}
.text {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  list-style: none;
  border-bottom: 0;
}

.text.hidden {
  border-bottom: 1px solid #fff;
}

.text li {
  display: inline-block;
  float: left;
  font-weight: 700;
  font-size: 2em;
  color: #fff;
  opacity: 1;
  transition: all 0.5s ease-in-out;
  max-width: 2em;
}
.text.hidden li.spaced {
  padding-left: 0;
}
.text li.spaced {
  padding-left: 0.5em;
}

.text.hidden li.ghost {
  opacity: 0;
  max-width: 0;
}
