<div id="home">
  <!-- <div class="container">
    <div class="row">
      <div class="col-sm-12"> 
        <div class="centered-box text-center">-->
          <header class="o-hero__header">
          <div class="c-type-headline-jumbo"><h3>         You asked for it, we invented it : </h3>
            <h1>the system you do wanna be a part of!</h1> <h6 >(a.k.a. PRS)</h6></div>
<!-- 
            <ul class="text hidden">
                <li>P</li>
                <li class="ghost">e</li>
                <li class="ghost">e</li>
                <li class="ghost">r</li>

                <li class="spaced">R</li>
                <li class="ghost">e</li>
                <li class="ghost">v</li>
                <li class="ghost">i</li>
                <li class="ghost">e</li>
                <li class="ghost">w</li>

                <li class="spaced">S</li>
                <li class="ghost">y</li>
                <li class="ghost">s</li>
                <li class="ghost">t</li>
                <li class="ghost">e</li>
                <li class="ghost">m</li>
                
            </ul> -->
          <div class=" home-text o-section c-cta c-cta--signup t-dark-theme u-hide-on-print u-padding-top--ultra u-padding-bottom--ultra"><div class="o-content-container">
            <h3 >Let the pure joy of reviewing & being reviewed, begin!</h3></div></div>

          <p class="home-text">Also, you look stunning today..<br> Let the Blessings fall on ya, child!<br> PS, <a href="https://www.playbuzz.com/mtvaustralia10/does-your-mum-love-you" target="_blank">URL</a>oved.</p>
          <div class="home-buttons-container">
         </div>
        </header>
        <!--</div>
       </div>
    </div>
  </div> -->

