<!-- add search here -->
<section id="user-profile">
    <div class="container">
      <div class="row">
        <div class="col-sm-12"> 

            <div class="profile-fb-container">
                <div class="profile-right">
                  <div class="profile-name">
                    <h3>Project team :              {{this.team.teamName}} </h3>
                  </div> 
                  <div class="email-details">
                    <span class="email">Created by: {{this.team.owner.fullName}},  {{this.team.owner.email}}</span>               
                  </div>
                  <div class="member-details">
                      <div class="members" >Members: <span *ngFor="let member of this.team.members">{{member.email}}  ;   </span></div> 
                    </div>
                </div>
              </div>

              
          <div class="profile-tabs-container">
            <ngb-tabset [justify]="currentJustify" class="user-tabs">
              
              <ngb-tab title="Team Review Requests To View"> <!-- VIEW only +todo route fix -->
                <ng-template ngbTabContent>
                  <div class="no-own-rev-reqs" *ngIf="this.teamRevReqs.length === 0">Not a single Review Request created by this team!</div>
                  <section id="revReqs">
                    <div class="container">
                      <div class="row custom-row">
                        <div class="col-md-4" *ngFor="let teamRevReq of teamRevReqs">
                          <app-rev-view [revReq]="teamRevReq"></app-rev-view>
                        </div>
                      </div>
                    </div>
                  </section>
                </ng-template>
              </ngb-tab>
  
              <ngb-tab title="Team Reviews Requests To Review"> <!-- todo route fix2-->
                <ng-template ngbTabContent>
                    <div class="no-rev-reqs" *ngIf="this.revReqsToReviewByTeamMember.length === 0">Not a single Review Request requested to me by any member of this team!</div>
                    <section id="revReqsToReviewByTeamMember">
                      <div class="container">
                        <div class="row custom-row">
                          <div class="col-md-4" *ngFor="let revReq of this.revReqsToReviewByTeamMember">
                            <app-rev-view [revReq]="revReq"></app-rev-view>
                          </div>
                        </div>
                      </div>
                    </section>
                  </ng-template>
                </ngb-tab>
  
  
              <ngb-tab title="Add members">
                <ng-template ngbTabContent>
                  <section id="teams">
                    <div class="container">
                      <div class="row custom-row">

                       <section id="add-team-member">
                           <div class="container">
                             <div class="row"> 
                               <div class="col-sm-12">
                                 <div class="add-team-member-form">
                                   <h4 class="add-team-member-team-header"><span class="add-team-member-iconcreate-team-icon fas fa-pencil-alt"></span>Add Team Member</h4>
                                   <form [formGroup]="addTeamMemberForm" (ngSubmit)="addTeamMember()">
                                     <div class="form-group">
                                         <input type="text" class="form-control" placeholder="email" formControlName="email"
                                           [class.is-valid]="this.addTeamMemberForm.controls['email'].valid && this.addTeamMemberForm.controls['email'].touched"
                                           [class.is-invalid]="this.addTeamMemberForm.controls['email'].invalid && this.addTeamMemberForm.controls['email'].touched"
                                         >
                                         <div class="invalid-feedback"
                                           *ngIf="this.addTeamMemberForm.controls['email'].invalid && this.addTeamMemberForm.controls['email'].touched"
                                         >
                                           <small *ngIf="this.addTeamMemberForm.controls['email'].errors.required">Team name is required!</small>
                                           <small *ngIf="this.addTeamMemberForm.controls['email'].errors.minlength">Team name must be at least 3 characters long!</small>
                                         </div>
                                       </div>
                                     <button type="submit" class="btn btn-outline-warning" [disabled]="this.addTeamMemberForm.invalid">Abracadabra, add team member!</button>
                                   </form>
                                 </div>
                               </div>
                             </div>
                           </div>
                         </section>
                         

                      </div>
                    </div>
                  </section>
                </ng-template>
              </ngb-tab>
  
            </ngb-tabset>
          </div>
        </div>
      </div>


</div>

  </section>
  