<section id="not-found">
  <div class="container">
    <p>
        Sometimes you have to get lost, to find Thyself... 
        <br>
        .. it's funny, because the page is not found... 
      
    </p>
  </div>
</section>