<div class="card">
    <div class="card-image-container">
      <!-- todo <img src="../../../assets/team-image.jpg" class="card-img-top" alt="Team Image"> -->
    </div>
    <div class="card-body">
      <!-- <a class="user-title-link" [routerLink]="['/users', this.user.id]">
        <h4 class="card-title">{{user.fullName}}</h4>
      </a> -->
      <ul>
        <li><span class="info-name">Team:</span>
          <a class="user-title-link" [routerLink]="['teams', this.team.teamId ]">
           {{team.teamName}}
           </a>
          </li>
        <!-- <li><span class="info-name">Created by:is not in the server-output-of-http-req</span> {{team.owner.username}}</li> -->
        <li><span class="info-name" >Team members:</span>
          <div *ngFor="let member of team.members">{{member.email}}</div> </li>
      </ul>
      <!-- <a class="btn btn-outline-warning" [routerLink]="['/teams', this.team.teamId]">Go to team page</a> -->
    </div>
</div>
