<!-- <app-pagination
  [placement]="'top'"
  [viewing]="viewing"
  [through]="through"
  [page]="paginationPage"
  [pageSize]="pageSize"
  [collectionSize]="paginationCollectionSize"
  [paginationDisabled]="paginationDisabled"
  (newPage)="onPaginationChange($event)"
></app-pagination> -->
<section id="revReqs">
  <div class="container">
    <div class="row"> 
      <div class="col-sm-12">
        <!-- <app-rev-req-view
          *ngFor="let revReq of data"
          [revReq]="revReq"
          [loggedInUser]="loggedInUser"
          (liked)="itemLike($event)"
          (updatedItem)="updateItem($event)"
          (deletedItem)="deleteItem($event)"
        ></app-rev-req-view> -->
      </div>
    </div>
  </div>
</section>
<!-- <app-pagination
  [placement]="'bottom'"
  [viewing]="viewing"
  [through]="through"
  [page]="paginationPage"
  [pageSize]="pageSize"
  [collectionSize]="paginationCollectionSize"
  [paginationDisabled]="paginationDisabled"
  (newPage)="onPaginationChange($event)"
></app-pagination> -->

