.card {
  margin-bottom: 30px;
  border: none;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.card-body {
  padding: 25px;
}

.card-image-container {
  text-align: center;
  padding: 25px;
  border-bottom: 1px solid #eeeeee;
}

.card-img-top {
  width: 50px;
}

.card-title {
  font-size: 1.1rem;
  font-weight: bold;
}

.user-title-link {
  color: #ff007f;
  text-decoration: none;
}

.user-title-link:hover {
  color: #FACDE5;
}

ul {
  list-style: none;
  padding: 0;
  font-size: 14px;
}

.info-name {
  font-weight: bold;
  margin-right: 5px;
}