<section id="rev-req-details">

<div style="
width:100% auto;  
 margin-top: 0px ; margin-bottom: 0px ;
/* margin-left: 120px ;  margin-right: 119px ;W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e', endColorstr='#febf04',GradientType=0 ); /* IE6-9 */">

    <!-- <span *ngIf="this.revReq.status.type === 'Rejected'" >{{"test"}}</span> -->
    <!-- <div *ngIf="1!==2" >{{"eiaufoieufoi"}}</div> -->

    <div class="ribbon-wrapper">
      <div class="glow">&nbsp;</div>
    <div *ngIf="this.revReq.status.type === 'Rejected'"
          style="background: #000000 "
          class="ribbon-front" id="statusTypeColour"
          [innerHTML]="this.revReq.status.type">
    <span><b >{{this.revReq.status.type}}</b></span></div>
    <div *ngIf="this.revReq.status.type === 'Change Requested'"
          style="background: yellow ; color: black"
          class="ribbon-front" id="statusTypeColour"
          [innerHTML]="this.revReq.status.type">
    <span><b >{{this.revReq.status.type}}</b></span></div>
    <div *ngIf="this.revReq.status.type === 'Under Review'"
          style="background: #84e4c8 ; color: black"
          class="ribbon-front" id="statusTypeColour"
          [innerHTML]="this.revReq.status.type">
    <span><b >{{this.revReq.status.type}}</b></span></div>
    <div *ngIf="this.revReq.status.type === 'Approved'"
          style="background: #f72268 "
          class="ribbon-front" id="statusTypeColour"
          [innerHTML]="this.revReq.status.type">
    <span><b >{{this.revReq.status.type}}</b></span></div>
    <div *ngIf="this.revReq.status.type === 'Pending'"
          style="background: #808080 "
          class="ribbon-front" id="statusTypeColour"
          [innerHTML]="this.revReq.status.type">
    <span><b >{{this.revReq.status.type}}</b></span>
  </div>
  </div></div>



<!-- add search here -->

    <div class="container">
      <div class="row">
        <div class="col-sm-12">  

            <div class="profile-fb-container" id="marginless">
                <div class="profile-right">
                  <div class="profile-name">
                    <h4>Work Item:    </h4>
                    <h6><b>Title:   </b> {{this.workItem.title}} </h6>
                    <h6><b>Description: </b></h6>
                    <div  id="description" [innerHTML]="this.workItem.description"> 
                      {{this.workItem.description}}
                    </div>

 <!-- edit work item -->
 <span class="float-right" *ngIf="this.isCreator">
    <button type="submit" class="btn btn-outline-dark btn-sm" 
            [disabled]="(this.isCreator === false) 
            || (this.revReq.status.type === 'Approved') 
            || (this.revReq.status.type === 'Rejected')
            || (thisReviewerHasApprovedOnce === true) " 
            (click)="toggleView()"> Edit 
    </button>
  </span>
  <section  *ngIf="this.toggle">
   <div class="container">
     <div class="row">
       <div class="col-sm-12">
         <div class="edit-description-form">
           <h4 class="edit-description-header"><span class="edit-description-iconcreate-comment-icon fas fa-pencil-alt"></span> Edit description</h4>
           <form [formGroup]="editDescriptionForm" (ngSubmit)="editWorkItem()">
               <div id="edit-description" class="form-group">
                 <textarea [froalaEditor]="editOptions" class="form-control" rows="15" formControlName="description"
                   [class.is-valid]="this.editDescriptionForm.controls['description'].valid && this.editDescriptionForm.controls['description'].touched"
                   [class.is-invalid]="this.editDescriptionForm.controls['description'].invalid && this.editDescriptionForm.controls['description'].touched"
                   id="content" name="content" value="{{this.workItem.description}}"> {{this.workItem.description}} </textarea>   
                 <div class="invalid-feedback"
                   *ngIf="this.editDescriptionForm.controls['description'].invalid && this.editDescriptionForm.controls['description'].touched"
                 >
                   <small *ngIf="this.editDescriptionForm.controls['description'].errors.required">Content is required!</small>
                   <small *ngIf="this.editDescriptionForm.controls['description'].errors.minlength">Content must be at least 3 characters long!</small>
                 </div>
             </div>
             <button type="submit" class="btn btn-outline-dark btn-sm" [disabled]="this.editDescriptionForm.invalid"  >Submit Changes</button>
           </form>
         </div>
       </div>
     </div>
   </div>
 </section>

  <!-- attach to work item- /// nex2 edit button!-->

 
    <!-- <form [formGroup]="formGroup" novalidate 
    (ngSubmit)="viewFile()"
    > -->
    <img *ngIf="viewMe" [src]="url" width="250px" height="250px" id="thumb">
    <br>
      <input type="file" (change)="onFileChange($event)" />
      <button type="button" (click)="viewFile()"> Submit</button>
      <!-- <button type="submit" 
      [disabled]="formGroup.invalid ">
      Submit</button> -->
    <!-- </form> -->

      <!-- src="../../../assets/prs-image.jpg" -->



  
</div> 
  </div>
     </div>
        <span >
            <button type="submit"  class="btn btn-outline-success btn-sm" 
                    [disabled]="(this.isReviewer === false) 
                    || (this.revReq.status.type === 'Approved') 
                    || (this.revReq.status.type === 'Rejected')
                    || (this.revReq.status.type === 'Change Requested')
                    || (thisReviewerHasApprovedOnce === true) " 
                    (click)="addApproval()"> Approve Work Item </button>
            <button type="submit" class="btn btn-outline-dark btn-sm" 
                    [disabled]="(this.isReviewer === false) 
                    || (this.revReq.status.type === 'Approved') 
                    || (this.revReq.status.type === 'Rejected')
                    || (this.revReq.status.type === 'Change Requested') " 
                    (click)="changeRequest()"> Request changes </button>
            <button type="submit" class="btn btn-outline-danger btn-sm" 
                    [disabled]="(this.isReviewer === false) 
                    || (this.revReq.status.type === 'Approved') 
                    || (this.revReq.status.type === 'Rejected')
                    || (this.revReq.status.type === 'Change Requested') " 
                    (click)="reject()"> Reject Work Item </button>
        </span>


              <div class="profile-fb-container">
                <div class="profile-right">
                  <div class="profile-name">
                    <h4>Review Request:     </h4>
                    <h6><b>By  :</b>  {{this.revReq.creator.fullName}} ,   {{this.revReq.creator.email}} </h6>
                    <h6><b>Created On:  </b>  {{this.revReq.createdOn | date}} </h6>
                    <h6><b>STATUS:  </b>  {{this.revReq.status.type}}   </h6>
                    <!-- if string, try {{this.revReq.status.type}} -->
                    <div><h6><span> <b>Tags:  </b><span  *ngFor="let tag of this.revReq.tags" >  {{tag.name}}  ; </span>                          
                        <!-- *ngFor="let tag of this.selectedTagsArray"  [innerHTML]="tag.name" -->                      
                      <span  *ngIf="this.isCreator" class="float-right">
                        <button type="submit" class="btn btn-outline-dark btn-sm" 
                                [disabled]="(this.isCreator === false) 
                                || (this.revReq.status.type === 'Approved') 
                                || (this.revReq.status.type === 'Rejected') " 
                                (click)="toggleView2()"> Add Tags 
                        </button>
                      </span>
                     </span></h6></div>
<section id="tags" *ngIf="this.toggle2" class="pull-right">
    <span *ngFor="let tag of this.allTagsArray" >
              <!-- id="r"  //button history-->
        <button [attr.id]="tag.tagId"
        type="submit" class="btn btn-outline-dark btn-sm" 
                [disabled]="(this.isCreator === false) 
                || (this.revReq.status.type === 'Approved') 
                || (this.revReq.status.type === 'Rejected') " 
                (click)="addTagRevReq(tag)"
                name="buttonTag" ngDefaultControl
                
                > {{tag.name}}
<!-- !!!!!! https://stackoverflow.com/questions/46422007/error-error-no-value-accessor-for-form-control-with-unspecified-name-attribute?rq=1 -->
        </button>
        
      </span>
                        <!-- <div class="container">
                          <div class="row">
                            <div class="col-sm-12">
                              <div class="tag-rev-req-form">
                                <h4 class="tag-rev-req-header"><span class="tag-rev-req-icon fas fa-pencil-alt"></span> Pick tags</h4>
                                <h6>Tags to choose from:   </h6> 
                                <div><span *ngFor="let tag of this.allTagsArray"> "{{tag.name}}"   ;</span> </div>
                                <form [formGroup]="addTagForm" (ngSubmit)="addTagRevReq()">
                                  <div class="form-group">
                                    <input type="text" class="form-control" placeholder="COPY/PASTE ONE by ONE tags b/n quotes => press 'Add Tag' button => Repeat " formControlName="name"
                                      [class.is-valid]="this.addTagForm.controls['name'].valid && this.addTagForm.controls['name'].touched"
                                      [class.is-invalid]="this.addTagForm.controls['name'].invalid && this.addTagForm.controls['name'].touched"
                                    >
                                    <div class="invalid-feedback"
                                      *ngIf="this.addTagForm.controls['name'].invalid && this.addTagForm.controls['name'].touched"
                                    >
                                      <small *ngIf="this.addTagForm.controls['name'].errors.required">Tag is required!</small>
                                    </div>
                                  </div>
                                  <button type="submit" class="btn btn-outline-warning" [disabled]="this.addTagForm.invalid">Add Tag</button>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div> -->
                      </section>
                    
                    
                    
                    
                    
                    
                    <h6><b>Project team:</b>   {{this.revReq.teamOfViewers.teamName}}  </h6> 

                    <!-- <h6>Project team:   <a class="link" [routerLink]="['/users', this.user.userId, 'teams', this.revReq.teamOfViewers.teamId ]"> {{this.revReq.teamOfViewers.teamName}} </a> </h6>  -->

                  </div>                   
                  <div class="member-details">
                      <div class="members" ><b>REVIEWERS:  </b>    
                        <span  *ngFor="let reviewer of this.revReq.reviewers"
                          >
                      <button disabled=true id="eachRevMail" 
                          class="btn btn-outline-dark btn-sm" 
                         checked="checked">
                           {{reviewer.fullName}} , {{reviewer.email}}  ; 
                      </button>
                        </span></div> 
                    </div>
                </div>
              </div>

            </div> 
          </div> 
        </div> 
</section>       

 <!-- view all comments of rev req -->

<div class="container">
    <div class="profile-fb-container">
      <div class="col-sm-12">
        <br>
        <h4>Comments:    </h4>
        <div id="comments" ><span  *ngFor="let com of this.comments"  [innerHTML]="com.message"><h6><b>Message :</b></h6> {{com.message}}  
        <br>
        <!-- <h6><b>By reviewer :</b></h6> {{this.comment.reviewer.email}}    -->
        <!-- {{com.reviewer.email}}  -->
       </span></div> 
       <br>
        <!-- ??{{newly added comments separately}}  -->
       <!-- <div><span *ngFor="let newCom of this.newComments"  [innerHTML]="newCom"><h6><b>Message :</b></h6> {{newCom.message}}  
        <br>
        <h6><b>By reviewer :</b></h6> {{this.username}} 
       </span></div>  -->
      </div> 
    </div>
  </div>



 <!-- add comment if reviewer -->
<br>
<br>
<section  >
  <div class="container">
    <div  class="row" >
      <div class="col-sm-12" >
        <div class="create-comment-form" >
          <h4  class="create-comment-header"><span class="create-comment-iconcreate-comment-icon fas fa-pencil-alt"></span> Add a comment</h4>
          <form [formGroup]="createCommentForm" (ngSubmit)="addCommentIfReviewer()">
              <div class="form-group" id="create-comment">
                <textarea id="text" [froalaEditor]="options" class="form-control" rows="15" placeholder="Write your review comment here..." formControlName="message"
                  [class.is-valid]="this.createCommentForm.controls['message'].valid && this.createCommentForm.controls['message'].touched"
                  [class.is-invalid]="this.createCommentForm.controls['message'].invalid && this.createCommentForm.controls['message'].touched"
                ></textarea>
                <div class="invalid-feedback"
                  *ngIf="this.createCommentForm.controls['message'].invalid && this.createCommentForm.controls['message'].touched"
                >
                  <small *ngIf="this.createCommentForm.controls['message'].errors.required">Content is required!</small>
                  <small *ngIf="this.createCommentForm.controls['message'].errors.minlength">Content must be at least 3 characters long!</small>
                </div>
            </div>
            <button type="submit" class="btn btn-outline-dark btn-sm"  [disabled]="this.createCommentForm.invalid">Create Comment</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

  


