.profile-fb-container {
    margin-top: 5px;
    display: flex;
    width: 100%;
    background: #ffffff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    border-radius: 4px;
  }

#marginless {
  margin-top: 25px;
}
  #create-comment {
    margin-top: 0px;
  }

  #edit-description {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  #description , #comments, #create-comment, #text, {
    margin: 0px;
    background-color: #f6f6f6;
    padding: 15px;
    
  }

  .profile-left, .profile-right {
    width: 20%;
     padding: 15px;
  }
  
  @media (max-width: 575.98px) {
    .profile-fb-container {
      display: block;
    }
  
    .profile-left, .profile-right {
      width: 20%;
    }
  
    .profile-left {
      border-right: none;
      border-bottom: 1px solid #eeeeee;
    }
  
    .profile-image img {
      width: 20px;
    }
  }
  
  .profile-left {
    border-right: 1px solid #eeeeee;
    flex: 1;
    text-align: center;
  }
  
  .profile-right {
    flex: 17;
  }
  
  .profile-username, .profile-user-role {
    margin-top: 5px;
  }

  
  .profile-details {
    font-size: 13px;
  }
  
  .separator {
    margin: 0 15px;
  }
  
  .profile-more-about {
    margin-top: 35px;
  }
  
  
  .profile-tabs-container {
    margin-top: 50px;
    background: #ffffff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    border-radius: 4px;
    
  }

  .btn-outline-success , .btn-outline-danger, .btn-outline-dark {
      width: 100%;
      margin-top: 5px;
  }


  
  /* ribbon style  */
  .ribbon-wrapper {
    position: relative;z-index:998;
  }
 

  .ribbon-front {
    background-color: #4b4b4bd2;	height: 27px;
    /* width: 1111px; */
     /* width: 100%; */
    position: relative;
    left: 100px auto;
    z-index: 2; font: bold ; color:#ffffff; text-align:center;
  }
/* 
  #statusTypeColour {
    background-color: #ac0000;
  } */
  
    .ribbon-front,
    .ribbon-back-left,
    .ribbon-back-right
  {
    -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
    -khtml-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
    -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
    -o-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
  }
  
    .ribbon-edge-topleft,
    .ribbon-edge-topright,
    .ribbon-edge-bottomleft,
    .ribbon-edge-bottomright {
    position: absolute;
    z-index: 1;
    border-style:solid;
    height:0px;
    width:0px;
  }
  
    .ribbon-edge-topleft,
    .ribbon-edge-topright {
  }
  
    .ribbon-edge-bottomleft,
    .ribbon-edge-bottomright {
    top: 50px;
  }
  
    .ribbon-edge-topleft,
    .ribbon-edge-bottomleft {
    left: -10px;
    border-color: yellow transparent transparent;
  }
  
    .ribbon-edge-topleft {
      top: 0px;
      border-width: 0px 0 0 10px;
  }
    .ribbon-edge-bottomleft {
    border-width: 0 10px 0px 0;
  }
  
    .ribbon-edge-topright,
    .ribbon-edge-bottomright {
    left: 220px;
    border-color: transparent transparent transparent yellow;
  }
  
    .ribbon-edge-topright {
    top: 0px;
    border-width: 0px 0 0 10px;
  }
    .ribbon-edge-bottomright {
    border-width: 0 0 5px 10px;
  }
    
  @-webkit-keyframes flow {
    0% { left: -70px;opacity: 0.1;}
    10% {left:100px;opacity: 0.3;}
      100%{ left:1100px;opacity: 0;}
  }
  @keyframes flow {
    0% { left:-70px;opacity: 0.1;}
    10% {left:100px;opacity: 0.3;}
      100%{ left:1100px;opacity: 0;}
  }
  
.glow{ 
  background: rgb(255,255,255); width:400px; 
  height:100%; z-index:999; position:absolute;-webkit-animation: flow 1.5s linear infinite;-moz-animation: flow 1.5s linear infinite;-webkit-transform: skew(20deg);
       -moz-transform: skew(20deg);
         -o-transform: skew(20deg);background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 1%, rgba(255,255,255,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(1%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,1) 100%); /* IE10+ */
  background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */ border-left:1px solid #fff;
}
  
  