footer {
  background-image:  url('https://media.giphy.com/media/ECWLeGxcKasCc/giphy.gif');

  /* background: #ff007f; */
  color: #a4a5a7;
  padding: 20px 0;
  font-size: 14px;
  margin-top: 60px;
}

.top-arrow {
  margin-left: 10px;
}

footer .top-link {
  color: #FACDE5;
  cursor: pointer;
}

footer .top-link:hover {
  text-decoration: underline;
}

@media (max-width: 767.98px) {
  footer .row > div {
    text-align: center !important;
  }
}