<header>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light" *ngIf="!isLogged">
       <a class="navbar-brand" [routerLink]="['/home']"> 
        <!-- <img class="logo" src="../../../assets/prs" alt="prs logo">         -->
      </a> 

      <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
    
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/home']">Home</a>
          </li>
    
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/login']">Login</a>
          </li>
    
          <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" [routerLink]="['/register']">Register</a>
          </li>
    
        </ul>

      </div>
    </nav>


    <nav class="navbar navbar-expand-lg navbar-light" *ngIf="isLogged">
      <!-- <a class="navbar-brand" [routerLink]="['/users/:userId']"> 
        <img class="logo" src="../../../assets/prs" alt="prs logo"> 
      </a> -->

      <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
    
          <!-- <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/review-requests']">Start Reviewing</a>
          </li> -->
          <li class="nav-item" routerLinkActive="active" >
              <a class="nav-link" (click)="onName()" >My Dashboard</a>
              <!-- [routerLink]="['users/:userId']" -->              
          </li>

          <li class="nav-item" routerLinkActivate="active">
            <a class="nav-link" [routerLink]="['/review-requests/work-items']">Create Review Request</a>
          </li>

          <li class="nav-item" routerLinkActivate="active">
              <a class="nav-link" (click)="onTeam()">Create Team</a>
          </li>
    
        </ul>
    
        <div class="username-logout">
          <a class="username-link" (click)="onName()">
            <span class="username"><span class="user-icon far fa-user"></span>{{loggedInUser}}</span>
          </a>
          <button class="btn btn-outline-warning" type="button" (click)="onLogout()">Logout</button>
        </div>
      </div>
    </nav>
  </div>
</header>