<section id="register">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="centered-box">
          <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
            <div class="form-group">
              <input type="text" class="form-control" id="username-input" placeholder="Username" formControlName="username"
                [class.is-valid]="this.registerForm.controls['username'].valid && this.registerForm.controls['username'].touched"
                [class.is-invalid]="this.registerForm.controls['username'].invalid && this.registerForm.controls['username'].touched"
              >

              <div class="invalid-feedback"
                *ngIf="this.registerForm.controls['username'].invalid && this.registerForm.controls['username'].touched"
              >
                <small *ngIf="this.registerForm.controls['username'].errors.required">Username is required!</small>
                <small *ngIf="this.registerForm.controls['username'].errors.minlength">Username must be at least 3 characters long!</small>
              </div>
            </div>
            <div class="form-group">
              <input type="email" class="form-control" id="email-input" placeholder="Email" formControlName="email"
                [class.is-valid]="this.registerForm.controls['email'].valid && this.registerForm.controls['email'].touched"
                [class.is-invalid]="this.registerForm.controls['email'].invalid && this.registerForm.controls['email'].touched"
              >

              <div class="invalid-feedback"
                *ngIf="this.registerForm.controls['email'].invalid && this.registerForm.controls['email'].touched"
              >
                <small *ngIf="this.registerForm.controls['email'].errors.required">Email is required!</small>
                <small *ngIf="this.registerForm.controls['email'].errors.email">Please enter a valid email address!</small>
              </div>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="password-input" placeholder="Password" formControlName="password"
                [class.is-valid]="this.registerForm.controls['password'].valid && this.registerForm.controls['password'].touched"
                [class.is-invalid]="this.registerForm.controls['password'].invalid && this.registerForm.controls['password'].touched"
              >
              
            <div class="invalid-feedback"
                *ngIf="this.registerForm.controls['password'].touched"
              >
                  <small>Password must contain a small letter, a large letter, a digit, and a special symbol among @$!%*?& !</small>
              </div>

              <div class="invalid-feedback"
                *ngIf="this.registerForm.controls['password'].invalid && this.registerForm.controls['password'].touched"
              >
                <small *ngIf="this.registerForm.controls['password'].errors.required">Password is required!</small>
                <small *ngIf="this.registerForm.controls['password'].errors.minlength">Password must be at least 6 characters long!</small>
              </div>

              <br>
              <div class="form-group">
                <input type="text" class="form-control" id="full-name-input" placeholder="Full Name" formControlName="fullName"
                  [class.is-valid]="this.registerForm.controls['fullName'].valid && this.registerForm.controls['fullName'].touched"
                  [class.is-invalid]="this.registerForm.controls['fullName'].invalid && this.registerForm.controls['fullName'].touched"
                >
  
                <div class="invalid-feedback"
                  *ngIf="this.registerForm.controls['fullName'].invalid && this.registerForm.controls['fullName'].touched"
                >
                  <small *ngIf="this.registerForm.controls['fullName'].errors.required">Full Name is required!</small>
                  <small *ngIf="this.registerForm.controls['fullName'].errors.minlength">Full Name must be at least 3 characters long!</small>
                </div>
              </div>
              
            </div>
            <button type="submit" class="btn btn-outline-warning" [disabled]="this.registerForm.invalid">Register</button>
          </form>   
        </div>
      </div>
    </div>
  </div>
</section>

