<div style="width:220px; height:250px; margin:5% auto;/* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e', endColorstr='#febf04',GradientType=0 ); /* IE6-9 */">
    <br/><br/><br/>
    <!-- <span *ngIf="this.revReq.status.type === 'Rejected'" >{{"test"}}</span> -->
    <!-- <div *ngIf="1!==2" >{{"eiaufoieufoi"}}</div> -->

    <div class="ribbon-wrapper"><div class="glow">&nbsp;</div>
    <div *ngIf="this.revReq.status.type === 'Rejected'"
          style="background: #000000 "
          class="ribbon-front" id="statusTypeColour"
          [innerHTML]="this.revReq.status.type">
    <span><b >{{this.revReq.status.type}}</b></span></div>
    <div *ngIf="this.revReq.status.type === 'Change Requested'"
          style="background: yellow ; color: black"
          class="ribbon-front" id="statusTypeColour"
          [innerHTML]="this.revReq.status.type">
    <span><b >{{this.revReq.status.type}}</b></span></div>
    <div *ngIf="this.revReq.status.type === 'Under Review'"
          style="background: #84e4c8 ; color: black "
          class="ribbon-front" id="statusTypeColour"
          [innerHTML]="this.revReq.status.type">
    <span><b >{{this.revReq.status.type}}</b></span></div>
    <div *ngIf="this.revReq.status.type === 'Approved'"
          style="background: #f72268 "
          class="ribbon-front" id="statusTypeColour"
          [innerHTML]="this.revReq.status.type">
    <span><b >{{this.revReq.status.type}}</b></span></div>
    <div *ngIf="this.revReq.status.type === 'Pending'"
          style="background: #808080"
          class="ribbon-front" id="statusTypeColour"
          [innerHTML]="this.revReq.status.type">
    <span><b >{{this.revReq.status.type}}</b></span></div>
        
        <!-- <span *ngIf="this.revReq.status.type === 'Rejected'"
        style="background: red " >
          <b >{{this.revReq.status.type}}</b></span>

        <span *ngIf="this.revReq.status.type === 'Review Requested'"
        style="background: yellow ; color: black"  >
        <b >{{this.revReq.status.type}}</b></span> -->
        
        
        <!-- <span><b >{{this.revReq.status.type}}</b></span> -->
        <!-- <span><b >{{this.revReq.status.type}}</b></span>
        <span><b >{{this.revReq.status.type}}</b></span> -->

 
        <!-- <div class="ribbon-edge-topleft"></div>
        <div class="ribbon-edge-topright"></div>
        <div class="ribbon-edge-bottomleft"></div> 
        <div class="ribbon-edge-bottomright"></div>  --> 
    </div>

<div class="card" >

    <!-- <div class="card-image-container">
       <img src="../../../assets/team-image.jpg" class="card-img-top" alt="Team Image"> 
    </div> -->
    <div class="card-body">

     <!-- <a class="user-title-link" [routerLink]="['/users', this.user.id]">
        <h4 class="card-title">{{user.fullName}}</h4>
      </a> -->
      <ul>
          <li><span class="info-name">Review Request Title:</span> 
            <a class="user-title-link" [routerLink]="['/review-requests/work-items' , this.workItem.workItemId , this.revReq.revReqId]">
              {{this.workItem.title}}
        </a> </li>
          <li><span class="info-name" >Project team:</span><br> {{revReq.teamOfViewers.teamName}} </li>
        <!-- <li><span class="info-name" >STATUS:</span> {{revReq.status.type}} </li> -->
      </ul>
      <!-- <a class="btn btn-outline-warning" [routerLink]="['/teams', this.team.teamId]">Go to team page</a> -->
    </div>
</div>


 
</div>

