<!-- add search here! -1st row, literally -->
<section id="users">
  <div class="container">
    <div class="row custom-row">
      <div class="col-md-4" *ngFor="let user of users">
        <app-users-view [user]="user"></app-users-view>
      </div>
    </div>
  </div>
</section>