<!-- add search here -->
<section id="user-profile">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">

          <div class="profile-tabs-container">
            <ngb-tabset [justify]="currentJustify" class="user-tabs">
              
              <ngb-tab title="Team Invitations"> <!-- VIEW only +todo route fix -->
                <ng-template ngbTabContent>
                  <div class="no-own-rev-reqs" *ngIf="this.teamInvitations.length === 0">Not a single team invitation... YET...</div>
                  <section id="revReqs">
                    <div class="container">
                      <div class="row custom-row">
                        <div class="col-md-4" *ngFor="let invitation of this.teamInvitations">
                        </div>
                      </div>
                    </div>
                  </section> 
                </ng-template>
              </ngb-tab>
  
  
              <ngb-tab title="Create a team">
                <ng-template ngbTabContent>
                  <section id="teams">
                    <div class="container">
                      <div class="row custom-row">

                       <section id="create-team">
                           <div class="container">
                             <div class="row"> 
                               <div class="col-sm-12">
                                 <div class="create-team-form">
                                   <h4 class="create-team-header"><span class="create-team-iconcreate-team-icon fas fa-pencil-alt"></span> Create a Team</h4>
                                   <form [formGroup]="createTeamForm" (ngSubmit)="createTeam()">
                                     <div class="form-group">
                                         <input type="text" class="form-control" placeholder="Team Name" formControlName="teamName"
                                           [class.is-valid]="this.createTeamForm.controls['teamName'].valid && this.createTeamForm.controls['teamName'].touched"
                                           [class.is-invalid]="this.createTeamForm.controls['teamName'].invalid && this.createTeamForm.controls['teamName'].touched"
                                         >
                                         <div class="invalid-feedback"
                                           *ngIf="this.createTeamForm.controls['teamName'].invalid && this.createTeamForm.controls['teamName'].touched"
                                         >
                                           <small *ngIf="this.createTeamForm.controls['teamName'].errors.required">Team name is required!</small>
                                           <small *ngIf="this.createTeamForm.controls['teamName'].errors.minlength">Team name must be at least 3 characters long!</small>
                                         </div>
                                       </div>
                                     <button type="submit" class="btn btn-outline-warning" [disabled]="this.createTeamForm.invalid">Abracadabra, create a Team!</button>
                                   </form>
                                 </div>
                               </div>
                             </div>
                           </div>
                         </section>
                         

                      </div>
                    </div>
                  </section>
                </ng-template>
              </ngb-tab>
  
            </ngb-tabset>
          </div>
        </div>
      </div>
    </div>

  </section>
  