.create-rev-req-form , .create-work-item-form  {
  background-color: #ffffff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  padding: 3.5rem;
  border-radius: 4px;
}

.create-rev-req-header, .create-work-item-header {
  margin-bottom: 30px;
}

.create-rev-req-header, .create-work-item-header {
  margin-bottom: 30px;
}

.create-rev-req-icon, .create-work-item-icon {
  margin-right: 10px;
}

.create-rev-req-form button , .create-work-item button {
  margin-top: 20px;
}

.tagselect {
  /* position: relative; */
  /* left: 163px; */
}




/*
 * Copyright (c) 2012-2013 Thibaut Courouble
 * http://www.cssflow.com
 * Licensed under the MIT License
 *
 * Sass/SCSS source: https://goo.gl/UhXKg
 * PSD by Vin Thomas: https://goo.gl/n1M2e
 */

 body {
  color: #404040;
  background: #ffffff;
}

.container {
  margin: 20px auto;
  /* width: 500px; */
  text-align: auto;
  line-height: 13px
}

.container .progress {
  /* margin: 20px; */
  width: 1111px auto;
}

.progress {
  /* padding: 4px; */
  background: rgba(255, 255, 255, 0.493);
  border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar {
  height: 40px;
  border-radius: 4px;
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
}

/*
 * Note: using adjacent or general sibling selectors combined with
 *       pseudo classes doesn't work in Safari 5.0 and Chrome 12.
 *       See this article for more info and a potential fix:
 *       https://css-tricks.com/webkit-sibling-bug/
 */

#five:checked ~ .progress > .progress-bar {
  width: 5%;
  /* background-color: #414141; */
  background-image:  url('https://media.giphy.com/media/ECWLeGxcKasCc/giphy.gif');

}

#twentyfive:checked ~ .progress > .progress-bar {
  width: 25%;
  /* background-color: #5e7c3c; */
  background-image:  url('https://media.giphy.com/media/ECWLeGxcKasCc/giphy.gif');

}

#fifty:checked ~ .progress > .progress-bar {
  width: 50%;
  /* background-color: #71aa30; */
  background-image:  url('https://media.giphy.com/media/ECWLeGxcKasCc/giphy.gif');

}

#seventyfive:checked ~ .progress > .progress-bar {
  width: 75%;
  /* background-color: #77b92a; */
  background-image:  url('https://media.giphy.com/media/ECWLeGxcKasCc/giphy.gif');

}

#onehundred:checked ~ .progress > .progress-bar {
  width: 100%;
  /* background-color: #86e01e; */
  background-image:  url('https://media.giphy.com/media/ECWLeGxcKasCc/giphy.gif');

}

.radio {
  display: none;
}

.label {
  display: inline-block;
  margin: 0 5px 20px;
  padding: 3px 8px;
  color: #aaa;
  /* text-shadow: 0 1px black; */
  border-radius: 3px;
  cursor: pointer;
}

.intro {
  display: inline-block;
  margin: 0 5px 20px;
  /* padding: 3px 8px; 
  text-shadow: 0 1px black;*/
  color: #aaa;

}

.radio:checked + .label {
  color: white;
  background: rgba(0, 0, 0, 0.25);
}









  /* ribbon style  */
  .ribbon-wrapper {
    position: relative;z-index:998;
  }


  .ribbon-front {
    background-color: #4b4b4bd2;	height: 27px;
    width: 240px;
    position: relative;
    left:-10px;
    z-index: 2; font: bold ; color:#ffffff; text-align:center;
  }
/*
  #statusTypeColour {
    background-color: #ac0000;
  } */

    .ribbon-front,
    .ribbon-back-left,
    .ribbon-back-right
  {
    -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
    -khtml-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
    -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
    -o-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
  }

    .ribbon-edge-topleft,
    .ribbon-edge-topright,
    .ribbon-edge-bottomleft,
    .ribbon-edge-bottomright {
    position: absolute;
    z-index: 1;
    border-style:solid;
    height:0px;
    width:0px;
  }

    .ribbon-edge-topleft,
    .ribbon-edge-topright {
  }

    .ribbon-edge-bottomleft,
    .ribbon-edge-bottomright {
    top: 50px;
  }

    .ribbon-edge-topleft,
    .ribbon-edge-bottomleft {
    left: -10px;
    border-color: yellow transparent transparent;
  }

    .ribbon-edge-topleft {
      top: 0px;
      border-width: 0px 0 0 10px;
  }
    .ribbon-edge-bottomleft {
    border-width: 0 10px 0px 0;
  }

    .ribbon-edge-topright,
    .ribbon-edge-bottomright {
    left: 220px;
    border-color: transparent transparent transparent yellow;
  }

    .ribbon-edge-topright {
    top: 0px;
    border-width: 0px 0 0 10px;
  }
    .ribbon-edge-bottomright {
    border-width: 0 0 5px 10px;
  }

/* make it glow */
@-webkit-keyframes flow {
  0% { /* left:-20px; */
    opacity: 0;}
  50% {left:100px;opacity: 0.3;}
    100%{ left:180px;opacity: 0;}
}
@keyframes flow {
  0% { left:-20px;opacity: 0;}
  50% {left:100px;opacity: 0.3;}
    100%{ left:180px;opacity: 0;}
}

.glow /* , .progress-bar  */  {
  background: rgb(255,255,255);
  width:50px;
  height:2%;
  z-index:999;
  position:absolute;
      -webkit-animation: flow 1.5s linear infinite;
      -moz-animation: flow 1.5s linear infinite;
      -webkit-transform: skew(20deg);
      -moz-transform: skew(20deg);
      -o-transform: skew(20deg);background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 1%, rgba(255,255,255,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(1%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,1) 100%); /* IE10+ */
  background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */ border-left:1px solid #fff;
}