<!-- 1st create the work-item -->
<div class="container">
     <!-- <span class="intro"> Every step you take, I'll be peer - reviewing you:</span>  -->
    <input type="radio" class="radio" name="progress" value="five" id="five" checked>
  
    <input type="radio" class="radio" name="progress" value="twentyfive" id="twentyfive" >
  
    <input type="radio" class="radio" name="progress" value="fifty" id="fifty">
  
    <input type="radio" class="radio" name="progress" value="seventyfive" id="seventyfive">
  
    <input type="radio" class="radio" name="progress" value="onehundred" id="onehundred">


    <div class="progress">
        <!-- <div style="height:250px; filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e', endColorstr='#febf04',GradientType=0 ); /* IE6-9 */"> -->

        <!-- <div class="ribbon-wrapper"> -->
          

      <div class="progress-bar"></div>
      <!-- <div class="glow"> -->
        &nbsp;
      <!-- </div> -->
    </div>
<!--</div>
 </div> -->
</div>

  


<section id="create-work-item" *ngIf="viewCreateWorkItemForm">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="create-work-item-form">
          <h4 class="create-work-item-header"><span class="create-work-item-iconcreate-work-item-icon fas fa-pencil-alt"></span> Create a Work Item</h4>
          <form [formGroup]="createWorkItemForm" (ngSubmit)="createWorkItem()">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Work Item Title" formControlName="title"
                  [class.is-valid]="this.createWorkItemForm.controls['title'].valid && this.createWorkItemForm.controls['title'].touched"
                  [class.is-invalid]="this.createWorkItemForm.controls['title'].invalid && this.createWorkItemForm.controls['title'].touched"
                >
                <div class="invalid-feedback"
                  *ngIf="this.createWorkItemForm.controls['title'].invalid && this.createWorkItemForm.controls['title'].touched"
                >
                  <small *ngIf="this.createWorkItemForm.controls['title'].errors.required">Title is required!</small>
                  <small *ngIf="this.createWorkItemForm.controls['title'].errors.minlength">Title must be at least 3 characters long!</small>
                </div>
              </div>
              <div class="form-group">
                <textarea [froalaEditor]="options" class="form-control" rows="15" placeholder="Describe your Work Item here..." formControlName="description"
                  [class.is-valid]="this.createWorkItemForm.controls['description'].valid && this.createWorkItemForm.controls['description'].touched"
                  [class.is-invalid]="this.createWorkItemForm.controls['description'].invalid && this.createWorkItemForm.controls['description'].touched"
                ></textarea>
                <div class="invalid-feedback"
                  *ngIf="this.createWorkItemForm.controls['description'].invalid && this.createWorkItemForm.controls['description'].touched"
                >
                  <small *ngIf="this.createWorkItemForm.controls['description'].errors.required">Content is required!</small>
                  <small *ngIf="this.createWorkItemForm.controls['description'].errors.minlength">Content must be at least 3 characters long!</small>
                </div>
            </div>
            <button type="submit" class="btn btn-outline-success" [disabled]="this.createWorkItemForm.invalid">Create Work Item</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>



  <!-- and now create the corresponding rev-req -->
<br>
<section id="create-rev-req" *ngIf="viewCreateRevReqWindow">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="create-rev-req-form">
            <h4 class="create-rev-req-header"><span class="create-rev-req-icon fas fa-pencil-alt"></span> Pick a project team</h4>
            <h6>Select one of your project teams:   </h6> 
            <div><span *ngFor="let team of this.teamsUserIsMemberOf"> 
              <button [attr.id]="team.teamName"
              type="submit" class="btn btn-outline-dark btn-sm" 
                      (click)="createRevReq(team)"
                      name="buttonTag" ngDefaultControl                
                      > {{team.teamName}}
              </button>  
            </span> </div>
           <!--  <form [formGroup]="createRevReqForm" (ngSubmit)="createRevReq()">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="COPY/PASTE only ONE team name among the team names b/n quotes => press 'Create Review Request' button"  formControlName="teamName"
                  [class.is-valid]="this.createRevReqForm.controls['teamName'].valid && this.createRevReqForm.controls['teamName'].touched"
                  [class.is-invalid]="this.createRevReqForm.controls['teamName'].invalid && this.createRevReqForm.controls['teamName'].touched"
                >
                <div class="invalid-feedback"
                  *ngIf="this.createRevReqForm.controls['teamName'].invalid && this.createRevReqForm.controls['teamName'].touched"
                >
                  <small *ngIf="this.createRevReqForm.controls['teamName'].errors.required">Team name is required!</small>
                  <small *ngIf="this.createRevReqForm.controls['teamName'].errors.minlength">Team name must be at least 3 characters long!</small>
                </div>
              </div>
              <button type="submit" class="btn btn-outline-success" [disabled]="this.createRevReqForm.invalid">Create Review Request</button>
            </form> -->
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- since reviewers are assigned automatically (all members minus the creator of the rev req) ==> time to add tags -->







<!-- check-box learning experience was amazing <br>
<section id="add-tag">
<div class="container">
    <div class="row">
      <div class="col-sm-12">
          <div class="create-rev-req-form">
<h4 class="create-rev-req-header"><span class="create-rev-req-icon fas fa-pencil-alt"></span>Tags List </h4>
-- Form starts --
<form [formGroup]="addTagForm" (ngSubmit)="onSubmit()">
    <div>
       <input id="tag1" type="radio" value="this.allTagNamesArr[0]" name="tag" formControlName="name">
       <label class="custom-control-label" for="tag1">{{this.allTagNamesArr[0]}}</label>
    </div>
 
    <div>
       <input id="tag2" type="radio" value="this.allTagNamesArr[1]" name="tag" formControlName="name">
       <label class="custom-control-label" for="tag2">{{this.allTagNamesArr[1]}}</label>
    </div>
 
    Showing error method 
    <div *ngIf="isSubmitted && myAddTagForm.errors?.required">
       <p>Please select at least one tag to tag...</p>
    </div>
    
    <button type="submit" class="btn btn-outline-warning">Add Tags</button>
 </form> Form ends 
 </div>
</div>
</div>
</div>
</section> -->








 <!--cool stuff with library... <section id="file-Tags"  >
     
      <h4 class="create-rev-req-header"><span class="create-rev-req-icon fas fa-pencil-alt"></span>Tags List </h4>
      <h6> In case you are yearning 4a better UX, here's a way to find out what you're missing with this beautiful, yet disfunctional tags from ngx-chips library</h6>

      <h6> Click on the field below to add Tags: {{this.allTagNamesArr}}</h6>
    <tag-input  [onlyFromAutocomplete]="true"  [(ngModel)]='allTagNamesArr' ></tag-input>
  </section> -->



  <section id="tags"  *ngIf="viewPickTagsWindow">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="create-rev-req-form">
              <h4 class="create-rev-req-header"><span class="create-rev-req-icon fas fa-pencil-alt"></span> Pick Tags</h4> 
              <h6>   </h6>    <span *ngFor="let tag of this.allTagsArray" >
                  <button [attr.id]="tag.tagId"
                  type="submit" class="btn btn-outline-dark btn-sm" 
                          (click)="addTagRevReq(tag)"
                          name="buttonTag" ngDefaultControl                
                          > {{tag.name}}
                  </button>        
                </span>
            </div>
          </div>
        </div>
      </div>
  </section>
<!--  the dropdown fail
  <section id="tag-rev-req">
      <div class="tagselect">
        <div class="col">
          <h3 class="tagselect-header">Add tags</h3>
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic1" [disabled]="this.createRevReqForm.invalid"
            ngbDropdownToggle><span class="tags-icon fas fa-pencil-alt"></span>Pick tags</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem>bug report</button>
              <button ngbDropdownItem>important</button>
              <button ngbDropdownItem>feature request</button>
              <button ngbDropdownItem>organisational question</button>
              <button ngbDropdownItem>documentation issue</button>
            </div>
            <div>Selected tags:
              <div *ngFor="tag of this.allTagsArray">
                {{tag.name}}
              </div> 
            </div>
          </div>        
          </div>
        </div>
    </section>
     -->

     <!-- following code needed needless library
    <div class="row">
      <div class="col">
    <form [formGroup]="reactiveForm">
      <mdb-checkbox formControlName="checked">Checked with FormControl</mdb-checkbox>
      <mdb-checkbox formControlName="unchecked">Unchecked with FormControl</mdb-checkbox>
    </form>
    <button mdbBtn color="primary" mdbWavesEffect (click)="getCheckboxesValue()">Get checkboxes value</button>
  </div>
</div> -->


<section id="final-check"  *ngIf="viewFinalCheckWindow">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="create-rev-req-form">
          <h4 class="create-rev-req-header"><span class="create-rev-req-icon fas fa-pencil-alt"></span> Agree:</h4> 
          <h6> Are you SPARKLING from joy, inner peace and eternal happiness?  </h6>   
              <button type="submit" class="btn btn-outline-dark " 
                      (click)="finalCheck()" >  
                      YES , are You?            
              </button>        
          
        </div>
      </div>
    </div>
  </div>
</section>


