#breadcrumbs {
  margin: 10px ;
  align-self: center auto;
  margin-bottom: 0px;
  margin-right: -1120px;

}

@media (max-width: 575.98px) {
  .text-right {
    text-align: left !important;
    margin-top: 15px;
  }
}
